#wpadminbar {
  @media screen and (max-width: 600px) {
    position: fixed;
  }
}

$wp-adminbar-desktop: 32px;
$wp-adminbar-mobile: 46px;
$wp-adminbar-breakpoint: 782px;

/* Wordpress hack to handle admin bar */
.admin-bar {
  // navbar (menu)
  .navbar.fixed-top {
    top: $wp-adminbar-desktop;
    @media screen and (max-width: $wp-adminbar-breakpoint) {
      top: $wp-adminbar-mobile;
    }
  }

  // link to fiches
  .fiche-target {
    top: $header-height * -1.2 - $wp-adminbar-desktop;
    @media screen and (max-width: $wp-adminbar-breakpoint) {
      top: $header-height * -1.2 - $wp-adminbar-mobile;
    }
  }

  // category map height and top
  .category-map {
    height: calc(100vh - #{$header-height} - #{$wp-adminbar-desktop});
    top: $header-height + $wp-adminbar-desktop;
    @media screen and (max-width: $wp-adminbar-breakpoint) {
      height: calc(100vh - #{$header-height} - #{$wp-adminbar-mobile});
      top: $header-height + $wp-adminbar-mobile;

      #fichesMap {

      }
    }
  }

  // post fiches height and top
  .cq-single-post-fiches {
    height: calc(100vh - #{$header-height} - #{$wp-adminbar-desktop});
    top: $header-height + $wp-adminbar-desktop;
    @media screen and (max-width: $wp-adminbar-breakpoint) {
      height: calc(100vh - #{$header-height} - #{$wp-adminbar-mobile});
      top: $header-height + $wp-adminbar-mobile;
    }
  }
}