.article-card {
  > article {
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
  }

    text-decoration: none !important;
}

.article-card-header {
  background-color: rgba($black, 0.6);
  color: $white;
}

.article-card-category {
  @extend .rounded-circle;
  @extend .float-left;
  margin-right: 0.75rem;
  background-color: $white;

  img {
    max-width: 30px;
  }
}

.article-card-title {
  margin: 0;
  font-size: $font-size-base;
}
