.article-card {
  display: inline-block;
  position: relative;
  width: 300px;
  max-width: 100%;

  font-family: $font-family-handwriting;
  font-size: $h5-font-size;
  color: $black;
  @include hover-focus-active {
    color: $black;
  }

  background-color: $white;
  box-shadow: 0 4px 6px rgba($black, 0.3);
  transition: 0.3s;
}

.article-card-chouquettise {
  .article-card-category {
    background-color: $chouquette-yellow;
  }
}

.article-card-category {
  @extend .rounded-circle;
  @extend .float-left;
  background-color: $white;
  box-shadow: -1px -1px 3px rgba($black, 0.3);
  padding: 0.75rem;

  position: absolute;
  top: 5px;
  left: 5px;

  transform: rotate(-5deg);

  > img {
    width: 35px;
  }
}

.article-card-picture {
  border: 15px solid $white;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article-card-picture:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.article-card-caption {
  margin: 0 10px 5px 10px;
  min-height: $line-height-base * 3rem;
}