.article-card {
  display: inline-block;
  position: relative;
  width: 300px;
  max-width: 100%;

  font-family: $font-family-heading;
  font-size: $h5-font-size;

  background-color: $white;
  box-shadow: 0 4px 6px rgba($black, 0.3);

  > a {
    color: $black;
    @include hover-focus-active {
      color: $black;
    }
  }

  transition: 0.3s;
}

.article-card-chouquettise {
  .article-card-category {
    background-color: $chouquette-yellow;
  }
}

.article-card-category {
  @extend .rounded-circle;
  @extend .float-left;
  background-color: $white;
  box-shadow: -1px -1px 3px rgba($black, 0.3);
  padding: 0.75rem;

  position: absolute;
  top: 5px;
  left: 5px;

  transform: rotate(-5deg);

  > img {
    width: 35px;
  }
}

.article-card-picture {
  border: 15px solid $white;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article-card-picture:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.article-card-caption {
  margin: 0 10px 5px 10px;
  min-height: $line-height-base * 3rem;
}

.article-card-shuffle-container {
  .article-card {
    margin: 1rem;

    @include media-breakpoint-down(md) {
      margin: 0;
      margin-bottom: 1rem;
    }
  }

  /* effects */
  @include media-breakpoint-down(md) {
    .article-card:nth-of-type(2n+0) {
      transform: rotate(2deg);

      .article-card-category {
        transform: rotate(-3deg);
      }
    }
    .article-card:nth-of-type(2n+1) {
      transform: rotate(-2deg);

      .article-card-category {
        transform: rotate(3deg);
      }
    }
    // hover
    .article-card:hover {
      transform: rotate(0deg);
    }
  }

  @include media-breakpoint-up(sm) {
    .article-card:nth-of-type(1n) {
      transform: rotate(7deg);

      .article-card-category {
        transform: rotate(-3deg);
      }
    }
    .article-card:nth-of-type(2n) {
      transform: rotate(-12deg);

      .article-card-category {
        transform: rotate(4deg);
      }
    }
    .article-card:nth-of-type(3n) {
      transform: rotate(4deg);

      .article-card-category {
        transform: rotate(-7deg);
      }
    }
    .article-card:nth-of-type(5n) {
      transform: rotate(-9deg);

      .article-card-category {
        transform: rotate(6deg);
      }
    }
    // hover
    .article-card:hover {
      transform: rotate(0deg);
      transform: scale(1.2);
      z-index: 1;
      box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    }
  }
}