// overall styling

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

/* Wordpress hack to handle fixed menu and admin bar */
.admin-bar .navbar.fixed-top {
  top: 32px;
  @media screen and (max-width: 782px) {
    top: 46px;
  }
}

#wpadminbar {
  @media screen and (max-width: 600px) {
    position: fixed;
  }
}

/* reCaptcha */

.grecaptcha-badge {
  display: none;
}

/* Links */

.link-no-decoration {
  text-decoration: none !important;

  @include hover-focus-active {
    text-decoration: none !important;
  }
}

.link-primary {
  color: $primary;
  text-decoration: underline;

  @include hover-focus-active {
    color: darken($primary, 20%);
    text-decoration: underline;
  }
}

.link-secondary {
  color: $secondary;
  text-decoration: underline;

  @include hover-focus-active {
    color: darken($secondary, 20%);
    text-decoration: underline;
  }
}

.link-white {
  color: $white;
  text-decoration: none;

  @include hover-focus-active {
    color: $chouquette-yellow;
    text-decoration: none;
  }
}


/* Fonts */

.cq-font {
  font-family: $font-family-brand;
}