// overall styling

html {
  scroll-behavior: smooth;
}

/* reCaptcha */

.grecaptcha-badge {
  display: none;
}

/* Links */

.link-no-decoration {
  text-decoration: none !important;

  @include hover-focus-active {
    text-decoration: none !important;
  }
}

.link-primary {
  color: $primary;
  text-decoration: underline;

  @include hover-focus-active {
    color: darken($primary, 20%);
    text-decoration: underline;
  }
}

.link-secondary {
  color: $secondary;
  text-decoration: underline;

  @include hover-focus-active {
    color: darken($secondary, 20%);
    text-decoration: underline;
  }
}

.link-white {
  color: $white;
  text-decoration: none;

  @include hover-focus-active {
    color: $chouquette-yellow;
    text-decoration: none;
  }
}

/* Fonts */

.cq-font {
  font-family: $font-family-heading;
}

/* Modal */

.cq-modal {
  color: $white;

  .close {
    color: $chouquette-yellow;
    opacity: 1;
    text-shadow: none;
  }

  .modal-content {
    background-color: rgba($black, 0.6);
  }
}

/* Alerts */

.alert {
  z-index: 1; // get over google maps
}

/* Vuejs */

[v-cloak] {
  display: none;
}

/* Collapse */
button.cq-toggle {
  .fa:before {
    content: "\f078";
    margin-right: 5px;
  }

  &[aria-expanded="true"] .fa:before {
    content: "\f077";
    margin-right: 5px;
  }
}

button.cq-toggle.reverse {
  .fa:before {
    content: "\f077";
    margin-right: 5px;
  }

  &[aria-expanded="true"] .fa:before {
    content: "\f078";
    margin-right: 5px;
  }
}

button.cq-toggle.horizontal {
  .fa:before {
    content: "\f054";
    margin-right: 5px;
  }

  &[aria-expanded="true"] .fa:before {
    content: "\f053";
    margin-right: 5px;
  }
}