.fiche {
  @extend .mx-md-2;
  width: 300px;
  max-width: 100%;
  height: 0px;
  max-height: calc(100vh - #{$header-height});

  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  h5 {
    font-family: $font-family-brand;
    font-size: $h4-font-size;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;

    width: 100%;
    margin: 0 1rem;

    h5 {
      font-size: $h4-font-size * 0.8;
    }
  }
}

/* This container is needed to position the front and back side */
.fiche-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Position the front and back side */
.fiche-front, .fiche-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  transition: transform 0.6s;
  transform-style: preserve-3d;

  background-color: white;
}

.fiche-back {
  transform: rotateY(180deg);
}

.fiche-header {
  height: 200px;
  max-height: 30vh;
}
.fiche-front .fiche-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fiche-header-icon {
  @extend .rounded-circle;
  @extend .float-left;
  background-color: $white;
  padding: 0.75rem;

  position: absolute;
  top: 5px;
  left: 5px;

  > img {
    width: 35px;
  }
}

a.fiche-social {
  @extend .border, .border-secondary, .rounded-circle;

  display: inline-block;
  width: 35px;
  height: 35px;

  text-align: center;
  vertical-align: middle;
  line-height: 35px;

  color: $black;

  @include hover-focus-active {
    background-color: $chouquette-yellow;
    border-color: $chouquette-yellow !important;
  }
}

.fiche-price:not(.fiche-price-selected) {
  color: $chouquette-light-grey;
}

.fiche-planning {
  > a {
    white-space: normal !important;
  }

  .dropdown-menu {
    left: -5rem !important;

    ul {
      list-style-type: none;
      padding: 0 0.75rem;
    }

    li {
      > label {
        width: 7rem;
      }
      white-space: nowrap;
    }
  }
}

.fiche-report {
  position: absolute;
  right: 5px;

  font-size: $font-size-base;

  > i {
    color: $chouquette-grey;
  }
}
.fiche-front .fiche-report {
  top: 5px;
}
.fiche-back .fiche-report {
  bottom: 5px;
}

// special treatment to chouquettise
.fiche-chouquettise .fiche-header-icon {
  background-color: $chouquette-yellow;
}