.category-result-col {
  min-height: calc(100vh - #{$header-height}); // case no result;

  button[data-target="#collapseCriteria"] {
    .fa:before {
      content: "\f078";
      margin-right: 5px;
    }
    &[aria-expanded="true"] .fa:before {
      content: "\f077";
      margin-right: 5px;
    }
  }
}

.category-criteria {
  border-left: solid $chouquette-light-grey 3px;
}

.category-fiche-container {
  background-color: rgba($chouquette-light-grey, 0.3);
}

.category-map {
  height: 50vh;
  @include media-breakpoint-up(md) {
    height: calc(100vh - #{$header-height});
    position: fixed !important;
    top: $header-height;
    right: 0;
    width: 50%;
  }
}