.category-result-col {
  min-height: calc(100vh - #{$header-height}); // case no result;
}

.category-criteria {
  border-left: solid $chouquette-light-grey 3px;
}

.category-criteria-checkbox {
  column-count: 2;
  div {
    white-space: nowrap;
    width: 50%;
  }
}

.category-fiche-container {
  background-color: rgba($chouquette-light-grey, 0.3);

  .fiche {
    @extend .mx-md-2, .mb-4;
  }
}

.category-map {
  height: calc(100vh - #{$header-height});
  width: 50%;

  position: fixed !important;
  top: $header-height;
  right: 0;

  #fichesMap {
    height: 100%;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    height: calc(100vh - #{$header-height} - 32px);
    width: 100vw;

    top: $header-height;
    left: -100vw;

    #fichesMap {
      height: calc(100% - 32px);
    }

    transition: left 0.5s;

    &.open {
      left: 0;
    }
  }
}

.category-map > button {
  height: 32px;
  width: 110px;

  position: absolute;
  top: 0;
  right: 0px;

  transition: right 1s;
}
.category-map.open > button {
  width: 100%;

  position: relative;
  right: auto !important;
}