.footer {
  color: $white;
}

.footer-top {
  background-color: $chouquette-dark-grey;
}

ul.footer-top-menu {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
  }

  li + li {
    margin-left: 0.5rem;
  }

  a {
    @extend .link-white;
  }
}

.footer-bottom {
  background-color: $chouquette-darker-grey;
}