.footer {
  color: $white;
  z-index: $zindex-fixed;
  position: relative;
  display: inline-block;
}

.footer-top {
  background-color: $chouquette-dark-grey;
}

ul.footer-top-menu {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 8px 0;
  }

  li + li {
    margin-left: 0.5rem;
  }

  a {
    @extend .link-white;
  }
}

.footer-bottom {
  background-color: $chouquette-darker-grey;
}

.footer-confidentiality {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $chouquette-dark-grey;
  z-index: $zindex-popover;

  > div {
    min-height: 10vh;

    @include media-breakpoint-down(sm) {
      min-height: 25vh;
    }
  }

  span {
    font-size: $font-size-lg;
    color: $white;
  }
}