.cq-menu {
  margin-top: $header-height; // corresp. navbar height

  .navbar-chouquette-light {
    background-color: $chouquette-darker-grey;

    .navbar-brand {
      font-family: $font-family-brand;
      text-transform: uppercase;
      letter-spacing: 3px;
      transform: scaleY(1.25);
      font-size: 2.5rem;

      @include media-breakpoint-down(lg) {
        font-size: 2rem;
      }
    }

    .navbar-nav {
      margin: auto;
    }

    .nav-item {
      i {
        font-size: 1.25rem;
      }

      .nav-link-text {
        // hide text since it breaks header display
        @include media-breakpoint-between(md, lg) {
          display: none;
        }
      }
    }

    .navbar-sn {
      font-size: 1.25rem;
    }
  }

}