.cq-menu {
  margin-top: 80px; // corresp. navbar height

  .navbar-chouquette-light {
    background-color: $chouquette-darker-grey;

    .navbar-brand {
      font-size: 1.75rem;

      @include media-breakpoint-down(lg) {
        font-size: 2rem;
      }
    }

    .nav-item {
      i {
        font-size: 1.25rem;
      }

      .nav-link-text {
        // hide text since it breaks header display
        @include media-breakpoint-between(md, lg) {
          display: none;
        }
      }
    }

    .navbar-sn {
      font-size: 1.25rem;
      margin: 0.5rem 0;
    }
  }

}

#newsletterModal, #searchModal {
  color: $white;

  .close {
    color: $chouquette-yellow;
    opacity: 1;
    text-shadow: none;
  }

  .modal-content {
    background-color: rgba($black, 0.6);
  }
}