// create new navbar classes based on bootstrap navbar theme colors

$navbar-chouquette-color:                $chouquette-yellow;
$navbar-chouquette-hover-color:          rgba($navbar-chouquette-color, .7);
$navbar-chouquette-active-color:         rgba($navbar-chouquette-color, .9);
$navbar-chouquette-disabled-color:       rgba($navbar-chouquette-color, .3);
$navbar-chouquette-toggler-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-chouquette-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
$navbar-chouquette-toggler-border-color: rgba($navbar-chouquette-color, .8);

$navbar-chouquette-brand-color:          $navbar-chouquette-color;
$navbar-chouquette-brand-hover-color:    rgba($navbar-chouquette-color, .8);

.navbar-chouquette {
  .navbar-brand {
    font-family: $font-family-brand;
    color: $navbar-chouquette-brand-color;

    @include hover-focus {
      color: $navbar-chouquette-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-chouquette-color;

      @include hover-focus {
        color: $navbar-chouquette-hover-color;
      }

      &.disabled {
        color: $navbar-chouquette-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-chouquette-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-chouquette-color;
    border-color: $navbar-chouquette-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-chouquette-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-chouquette-color;
    a {
      color: $navbar-chouquette-active-color;

      @include hover-focus {
        color: $navbar-chouquette-active-color;
      }
    }
  }

  // add custom
  .navbar-divider {
    @include nav-divider($chouquette-yellow);
  }
}