.cq-single-post-content {
  a {
    @extend .link-secondary;
  }
}

.cq-single-post-header {
  position: relative;

  margin-bottom: 50px; // for author img
}

.cq-single-post-header-img {
  width: 100%;
  height: auto;
}

.cq-single-post-header-author-img {
  height: 110px;
  width: 110px;

  position: absolute;
  bottom: -55px;
  left: 20px;
  border: 5px solid $white;
  z-index: 100;
}

.cq-single-post-header-meta {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-left: 30+110+15px; // computed based on author img
  padding-right: 15px; // responsive right spacing

  padding-top: 2rem;
  padding-bottom: 5px;
  @include gradient-y(rgba($black, 0), rgba($black, .8));

  color: $white;
}

#gotoFiche {
  position: fixed;
  top: $header-height;
  z-index: 10;


  > a {
    background-color: $chouquette-yellow;
    color: $black;
    border-radius: 0 0 5px 5px;
  }
}

/* Wordpress hack to handle admin bar */
.admin-bar #gotoFiche {
  top: $header-height + 46px;
}

#fichesTarget:target {
  display: block;
  position: relative;
  top: $header-height * -1.4;
  visibility: hidden;
}

/* Wordpress hack to handle admin bar */
.admin-bar #fichesTarget:target {
  top: $header-height * -1.4 - 46px;
}

.cq-single-post-content-title {
  h1 {
    //display: inline-block;
    font-family: $font-family-brand;
  }
}

.cq-single-post-content-text {
  text-align: justify;
  text-justify: inter-word;

  h3, h4 {
    margin-top: 2rem;
  }

  figure {
    text-align: center;
    max-width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    width: 100%;
  }

  /* Wordpress editor classes */

  .aligncenter {
    text-align: center;
    margin: auto;
  }

  pre {
    @extend .alert;
    @extend .alert-secondary;
  }
}

.cq-fiches-map {
  height: 250px;
}

.cq-fiches {
  .card {
    border-radius: unset;

    &:not(:first-child) {
      border-top: none;
    }
  }
}

.cq-fiches-header {
  border-bottom: none;

  > a {
    color: $black;

    // manage hidden/shown sign
    > i.hidden {
      display: none;
    }
    > i.shown {
      display: inline;
    }
    &.collapsed {
      > i.hidden {
        display: inline;
      }
      > i.shown {
        display: none;
      }
    }
  }
}

.cq-fiche {
  > img {
    height: auto;
  }

  .card-footer {
    background-color: $chouquette-yellow;
    color: $chouquette-darker-grey;
  }

  a {
    @extend .link-no-decoration;
  }
}

.cq-fiche-contact, .cq-fiche {
  border-top: none !important;
}

.cq-fiche-price:not(.cq-fiche-price-selected) {
  color: $chouquette-light-grey;
}

ul.cq-fiche-info {
  list-style-type: none;
  padding: 0;

  ol {
    list-style-type: none;
    padding: 0;
    display: inline;

    li {
      @extend .badge, .badge-yellow;
      padding: 4px 6px;
      opacity: 0.85;
    }

    li + li {
      margin-left: 0.2rem;
    }
  }
}

.cq-single-post-author {
  margin-top: 4rem;

  div.col {
    padding-top: 35px; // corresp. to author image
  }

  img {
    width: 70px;
    height: 70px;

    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
  }

}

.cq-single-post-comments {
  a {
    @extend .link-secondary;
  }

  // no list bullets
  ol, ul {
    list-style-type: none;
  }

  .comment-list {
    padding: 0;
  }

  .comment {
    margin-bottom: 0.5rem;
  }

  .comment-body {
    margin-bottom: 1rem;
  }

  .comment-meta {
    .comment-author {
      img {
        @extend .rounded-circle;
        margin-right: 0.5rem;
      }
    }

    .comment-metadata {
      a {
        text-decoration: none;
      }
    }

    .comment-content {
      margin-top: 0.5rem;

      > p {
        margin: 0;
      }
    }
  }
}