.cq-single-post-fiches {
  height: calc(100vh - #{$header-height});
  width: 350px;
  background-color: $chouquette-light-grey;

  position: fixed;
  top: $header-height;
  left: -350px + 5px; // border
  z-index: $zindex-fixed;

  border-right: 5px solid $chouquette-yellow;

  @include media-breakpoint-down(sm) {
    width: 100vw;
    left: -100vw;

    border-right: none;
  }

  button {
    border-radius: unset;
  }

  transition: left 0.5s;

  &.open {
    left: 0;
  }
}

.cq-single-post-fiches-btn {
  height: 48px;
  width: 190px;

  position: absolute;
  right: -5px; // border
  bottom: calc(50% - 95px);

  transform: rotate(90deg);
  transform-origin: bottom right;
}

.cq-single-post-fiches-btn-sm {
  height: $hidden-content-handle-btn-height;
  width: 150px;

  position: absolute;
  top: 0;
  right: 0px;

  transition: right 1s;
}

.cq-single-post-fiches.open > .cq-single-post-fiches-btn-sm {
  width: 100%;

  position: relative;
  right: auto !important;
}

.cq-single-post-fiches-wrapper {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  height: calc(100vh - #{$header-height});

  @include media-breakpoint-down(md) {
    height: calc(100vh - #{$header-height} - #{$hidden-content-handle-btn-height}); // button
  }

  background-color: $white;

  article {
    margin: auto; // center articles
  }

  // style scrollbar
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba($chouquette-grey, 0.3);
    background-color: $chouquette-light-grey;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba($chouquette-grey, .3);
    background-color: $chouquette-grey;
  }
}

.cq-single-post-content {
  a {
    @extend .link-secondary;
  }
}

.cq-single-post-header {
  position: relative;

  margin-bottom: 50px; // for author img
}

.cq-single-post-header-img {
  width: 100%;
  height: auto;
}

.cq-single-post-header-author-img {
  height: 110px;
  width: 110px;

  position: absolute;
  bottom: -55px;
  left: 20px;
  border: 5px solid $white;
  z-index: 100;
}

.cq-single-post-header-meta {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-left: 30+110+15px; // computed based on author img
  padding-right: 15px; // responsive right spacing

  padding-top: 2rem;
  padding-bottom: 5px;
  @include gradient-y(rgba($black, 0), rgba($black, .8));

  color: $white;
}

.cq-single-post-content-title {
  h1 {
    //display: inline-block;
    font-family: $font-family-heading;
  }
}

// NEW STYLE (using only gutenberg without formating in backoffice)

.cq-single-post-content-text {
  .wp-block-image {
    margin: 1.5rem auto;
  }
}

// OLD STYLE (previous posts trying to format in backoffice)

.cq-single-post-content-text {

  /* Customs */

  text-align: justify;
  text-justify: inter-word;
  word-break: break-word;

  /* Defaults */

  h3, h4 {
    margin-top: 2rem;
  }

  pre {
    @extend .alert;
    @extend .alert-secondary;
  }

  /* Alignements */

  .aligncenter:not(.wp-block-gallery) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .alignright:not(.wp-block-gallery) {
    float: right;
  }

  .alignleft:not(.wp-block-gallery) {
    float: left;
  }

  /* Figures */

  figure {
    text-align: center;
    max-width: 100%;
    margin: auto;

    figcaption {
      margin-top: 0.5rem;
      font-style: italic;
    }
  }

  figure.alignleft {
    margin-right: 15px;
  }

  figure.alignright {
    margin-left: 15px;
  }

  /* Images */

  img {
    max-width: 100%;
    height: auto;
  }

  img.alignright {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline;
  }

  img.alignleft {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline;
  }

  /* iFrame */

  iframe {
    min-width: auto !important;
    max-width: none !important;
    width: 100% !important;

  }

  /* Gallery */

  .gallery .gallery-item {
    float: left;
    text-align: center;
    width: 33%;
  }

  .gallery-columns-2 .gallery-item {
    width: 50%;
  }

  .gallery-columns-4 .gallery-item {
    width: 25%;
  }

  .gallery img {
    padding: 8px;
  }

  .gallery-columns-2 .attachment-medium {
    max-width: 92%;
    height: auto;
  }

  .gallery-columns-4 .attachment-thumbnail {
    max-width: 84%;
    height: auto;
  }

  .gallery .gallery-caption {
    font-style: italic;
  }
}

.cq-single-post-author {

  margin-top: 100px; // (half) author icon is 50px height

  > div {
    padding-top: 50px;
  }

  h5 {
    font-family: $font-family-heading;
    font-size: $h3-font-size;
  }

  div.col {
    padding-top: 35px; // corresp. to author image
  }

  img {
    width: 100px;
    height: 100px;

    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
  }

}

.cq-single-post-similar {
  h3 {
    font-family: $font-family-heading;
    font-size: $h1-font-size;
  }

  .swiper-wrapper {
    @extend .py-3, .px-1;
  }

  .swiper-slide {
    .article-card {
      width: calc(100% - 10px);
    }

    .article-card:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, .7);
    }
  }
}

.cq-single-post-comments {
  h3 {
    font-family: $font-family-heading;
    font-size: $h1-font-size;
  }

  a {
    @extend .link-secondary;
  }

  // no list bullets
  ol, ul {
    list-style-type: none;
  }

  .comment-list {
    padding: 0;
  }

  .comment {
    margin-bottom: 0.5rem;
  }

  .comment-body {
    margin-bottom: 1rem;
  }

  .comment-meta {
    .comment-author {
      img {
        @extend .rounded-circle;
        margin-right: 0.5rem;
      }
    }

    .comment-metadata {
      a {
        text-decoration: none;
      }
    }

    .comment-content {
      margin-top: 0.5rem;

      > p {
        margin: 0;
      }
    }
  }
}